@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;
@model X.PagedList.IPagedList<StoreShoe.Models.Product>

@{
    ViewData["Title"] = "Danh sách sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<div class="container px-4 px-lg-5 mt-5">
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-3 justify-content-center">
@foreach (var item in Model) {
    <div class="col mb-5">
        <div class="card h-100">
        @if (string.IsNullOrEmpty(item.ImageName))
        {
            <img src="~/Image/no_image.jpg" class="card-img-top" alt="..." style="width = 400px; height = 300px; object-fit: cover;" />
        }
        else
        {
            <img src="~/Image/@item.ImageName" class="card-img-top" alt="..." style="width = 400px; height = 300px; object-fit: cover;" />
        }
        <div class="card-body p-4">
            <div class="text-center">
                <h5 class="fw-bolder">@item.ProductName</h5>
                @if (item.ProductSale > 0)
                {
                    <span class="text-muted text-decoration-line-through">$@item.ProductPrice</span>
                }
                $@(item.ProductPrice - item.ProductSale)
            </div>
        </div>
        <!-- Product actions-->
        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="float-start">
                <a asp-controller="Products" asp-action="Details" class="btn btn-outline-dark mt-auto" asp-route-id="@item.Id">Details</a>
            </div>
            <div class="float-end">
                <a asp-controller="Products" asp-action="AddToCart"
                asp-route-productid="@item.Id" class="btn btn-outline-dark mt-auto">Add to Cart</a>
            </div>
        </div>
    </div>
        </div>
}
    </div>
</div>
<nav aria-label="Page navigation example ">
    <ul class="pagination justify-content-center">
        @Html.PagedListPager(Model, page => Url.Action("Index", new {page = page}), 
        new PagedListRenderOptions {
            LiElementClasses = new string[] { "page-item" },
            PageClasses = new string[] { "page-link" }
        })
    </ul>
</nav>

@section Scripts{
    <script>
        async function add(productId) {
            //var usernameEl = document.getElementById("username");
            //if (usernameEl == null) {
            //    window.location.href = "/Identity/Account/Login";
            //}
            try {
                var response = await fetch(`/Cart/AddItem?productId=${productId}`);
                if (response.status == 200) {
                    var result = await response.json();
                    var cartCountEl = document.getElementById("cartCount");
                    cartCountEl.innerHTML = result;
                    window.location.href = "#cartCount";
                }
            }
            catch (err) {
                console.log(err);
            }
        }
    </script>
}