@using System.ComponentModel.DataAnnotations;
@using System.Reflection;
@using StoreShoe.Models.Enum;
@model Order

@{
    ViewData["Title"] = "Details";
}

<h2>@ViewData["Title"]</h2>
<div class="container-fluid">

    <div class="container">
        <!-- Title -->
        <div class="d-flex justify-content-between align-items-center py-3">
            <h2 class="h5 mb-0"><a href="#" class="text-muted"></a> Order @Model.OrderID</h2>
        </div>

        <!-- Main content -->
        <div class="row">
            <div class="col-lg-8">
                <!-- Details -->
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="mb-3 d-flex justify-content-between">
                            <div>
                                <span class="me-3">@DateTime.Now</span>
                                <span class="me-3">#@Model.OrderID</span>
                                <span class="badge rounded-pill bg-info">@Enum.GetName(typeof(StatusOrder), Model.Status)</span>
                            </div>
                        </div>
                        <table class="table table-borderless">
                            <tbody>
                                @{
                                    decimal subtotal = 0M;
                                }
                                @foreach (OrderDetail orderDetail in ViewBag.OrderDetailsList)
                                {
                                    <tr>
                                        <td>
                                            <div class="d-flex mb-2">
                                                <div class="flex-shrink-0">
                                                    <img src="~/Image/@orderDetail.Product!.ImageName" alt="" width="35" class="img-fluid">
                                                </div>
                                                <div class="flex-lg-grow-1 ms-3">
                                                    <h6 class="small mb-0"><a href="#" class="text-reset">@orderDetail.Product!.ProductName</a></h6>
                                                    <span class="small">Size: @orderDetail.size</span>
                                                </div>
                                            </div>
                                        </td>
                                        <td>@orderDetail.Amount</td>
                                        <td class="text-end">
                                            @((orderDetail.Price * orderDetail.Amount).ToString("c"))
                                            @{
                                                subtotal += orderDetail.Price * orderDetail.Amount;
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="2">Subtotal</td>
                                    <td class="text-end">@subtotal.ToString("c")</td>
                                </tr>
                                <tr>
                                    <td colspan="2">Shipping</td>
                                    <td class="text-end">$0.00</td>
                                </tr>
                                <tr>
                                    <td colspan="2">Discount</td>
                                    <td class="text-danger text-end">-$0</td>
                                </tr>
                                <tr class="fw-bold">
                                    <td colspan="2">TOTAL</td>
                                    <td class="text-end">@subtotal.ToString("c")</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <!-- Payment -->
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <h3 class="h6">Payment Method</h3>
                                <p>
                                    Bank <br>
                                    Total: @subtotal.ToString("c") <span class="badge bg-success rounded-pill">PAID</span>
                                </p>
                            </div>
                            <div class="col-lg-6">
                                <h3 class="h6">Billing address</h3>
                                <address>
                                    <strong>@Model.FirstName @Model.LastName</strong><br>
                                    @Model.Address<br>
                                    @Model.OrderPlaced<br>
                                    <abbr title="Phone">P:</abbr> @Model.PhoneNumber
                                </address>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <!-- Customer Notes -->
                <div class="card mb-4">
                    <div class="card-body">
                        <h3 class="h6">Customer Notes</h3>
                        <p>Sed enim, faucibus litora velit vestibulum habitasse. Cras lobortis cum sem aliquet mauris rutrum. Sollicitudin. Morbi, sem tellus vestibulum porttitor.</p>
                    </div>
                </div>
                <div class="card mb-4">
                    <!-- Shipping information -->
                    <div class="card-body">
                        <h3 class="h6">Shipping Information</h3>
                        <strong>FedEx</strong>
                        <span><a href="#" class="text-decoration-underline" target="_blank">FF1234567890</a> <i class="bi bi-box-arrow-up-right"></i> </span>
                        <hr>
                        <h3 class="h6">Cập Nhật Trạng Thái</h3>
                         <form asp-action="Details" method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="OrderID" />
                            <div class="form-group">
                                <label asp-for="Status" class="control-label"></label>
                                <select asp-for="Status">
                                @foreach (var item in Html.GetEnumSelectList<StatusOrder>())
                                {
                                    @if(item.Value == Model.Status.ToString())
                                    {
                                            <option value="@item.Value" selected>@item.Text</option>
                                    }
                                    else
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                }
                            </select>
                                <span asp-validation-for="Status" class="text-danger"></span>
                            </div>
                            <div class="form-group pt-3">
                                <input type="submit" value="Cập Nhật" class="btn btn-primary" />
                            </div>
                         </form>
                        <hr>
                        <h3 class="h6">Address</h3>
                        <address>
                            <strong>@Model.FirstName @Model.LastName</strong><br>
                            Model.Address<br>
                            @Model.OrderPlaced<br>
                            <abbr title="Phone">P:</abbr> @Model.PhoneNumber
                        </address>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>